parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - %rootDir%/../../../tests/*    
    ignoreErrors:
         - '#Property App\\Entity\\\w+::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'